<div class="container" >


  <div class="navbar-fixed-top" ng-submit="sendTweet()" style="width: 100%; background-color: white">

    <div class="row">
      <form>

       <div class="col-xs-4">
         <h3 style="color: black">
           {{myUsername.username}}
         </h3>
       </div>

       <div class="col-xs-5 text-right" style="padding-top: 10px">
        <input ng-model="user.username" placeholder="my tweet" class="form-control" ></input> 
      </div>

      <div class="col-xs-1 text-left" style="padding-top: 10px">
        <button class="btn btn-info">
          Send Tweet
        </button>              
      </div>
      <div class="col-xs-1" style="padding-top: 10px">
        <button class="btn btn-danger">
          Logout
        </button>
      </div>

      <div class="col-xs-1" style="padding-top: 10px">
        <button class="btn btn-primary" ng-click="getUsers()">
          Search Followers
        </button>
      </div>
    </form>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="container">
  <div class="row" ng-repeat="user in users | filter:query">
    <div class="col-xs-8">
      <h4>
       {{user}}
     </h4> 
   </div>

   <div class="col-xs-4">
    <button class="btn btn-info">Follow</button>
 </div>
</div>
</div>