
<div class="container">

  <div class="jumbotron text-center">
    <h1 ng-click="goToHome()">Hacktweet</h1>
    <p class="lead">
      <img src="assets/images/logo.png" alt="I'm Yeoman"><br>
      Always a pleasure chat with you.
    </p>
    <p class="animated infinite" ng-class="classAnimation">
      <button type="button" ng-click="goToLogin()" class="btn btn-lg btn">Login</button>
    </p>
    <p class="animated infinite" ng-class="classAnimation">
      <button type="button" ng-click="goToRegister()" class="btn btn-lg btn-success">Register</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Erick', 'Luis', 'Emanuel']"></acme-malarkey>
    </p>
 </div>
</div>
