<div class="container">

<div class="container-fluid">
  <div class="row nav_bar">
    <a href="#" ng-click="goToHome()">
     <div class="col-xs-2 text-left">
        <img class="logo" src="../assets/images/logo.png">
      </div>
    </a>
  </div>
</div>
  
<div class="text-center" id="box-login" style="padding:50px 0">

  <div class="login-form-1" >
    <form id="login-form" class="text-left">
      <div class="main-login-form">
        
        <div class="login-group">

          <div class="form-group">
            <label for="lg_username" class="sr-only"></label>
            <input types="text" class="form-control" id="email-login" name="lg_username" placeholder="My-Email" ng-model="twitter.user_attributes.email">
          </div>


          <div class="form-group">
            <label for="lg_username" class="sr-only"></label>
            <input type="text" class="form-control" placeholder="username" ng-model="twitter.username">
          </div>

          <div class="form-group">
            <label for="lg_password" class="sr-only"></label>
            <input type="text" class="form-control" placeholder="Password" ng-model="twitter.user_attributes.password">
          </div>
          
          <div class="form-group">
            <label for="lg_username" class="sr-only"></label>
            <input type="text" class="form-control" placeholder="Biography" ng-model="twitter.biography">
          </div>
        <button type="button" class="login-button" ng-click="reg()"> 
        <i class="fa fa-chevron-right"> > </i>
        </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

